.preloader {
	display: block;
	margin: auto;
	width: 100px;
	position: relative;
	animation: preloader 1.5s ease;
}

.preloader img {
	width: 100%;
}
.ploader {
	position: absolute;
	left: 0px; top: -0px;
	animation: preloader 1s ease;
}

.mloader {
	animation: mloader 1.5s linear 1.5s infinite alternate;
}

@keyframes preloader {
	from { 
		transform: rotateZ(-200deg); opacity: 0;
	}
	 to{ 
		transform: rotateZ(0deg); opacity: 1;
	}
}

@keyframes mloader {
	from { 
		transform: rotateY(0deg) translateX(0px);
	}
	 22%{ 
		transform: rotateY(20deg) translateX(0.5%);
	}
	 78%{ 
		transform: rotateY(160deg) translateX(-7%);
	}
	 to{ 
		transform: rotateY(180deg) translateX(-7.5%);
	}
}