@import "compass/reset";

$color : #337baa;
$bg-color : #282C34;
$secondary-color : #bdb7b7;
$radius : 5px;
$duration : 0.3s;


$white: #ecf0f1;

* {
  box-sizing: border-box;
}

body {
	font-family: Raleway, Arial, sans-serif;
}


.header{
	&--title {
		text-transform: uppercase;
		margin: 23px;
		color: $white;
		font-size: 21px;
	}
}

