@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'stroke7pixeden';
  src: url("fonts/stroke7pixeden/Pe-icon-7-stroke.eot?d7yf1v");
  src: url("fonts/stroke7pixeden/Pe-icon-7-stroke.eot?#iefixd7yf1v") format("embedded-opentype"), url("fonts/stroke7pixeden/Pe-icon-7-stroke.woff?d7yf1v") format("woff"), url("fonts/stroke7pixeden/Pe-icon-7-stroke.ttf?d7yf1v") format("truetype"), url("fonts/stroke7pixeden/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #4f4f4f; }
  body input:focus, body button:focus, body select:focus {
    outline: none; }
  body .close {
    transition-duration: 0.5s;
    transform: rotate(45deg); }
    body .close::before {
      bottom: 0px; }
    body .close::after {
      top: 0px;
      transform: rotate(-90deg); }

.connexion {
  background-color: #eeeeee;
  height: 100%;
  width: 100%;
  position: fixed;
  text-align: center; }
  .connexion--container {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .connexion--container--logo {
      width: 100px;
      display: block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: -10px; }
    .connexion--container--label {
      display: inline-block;
      float: left;
      height: 45px;
      width: 40px;
      background-color: #31bb8a;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      position: relative;
      top: 45px; }
      .connexion--container--label i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #282C34;
        font-size: 30px; }
    .connexion--container--input {
      width: 100%;
      height: 45px;
      border-radius: 5px;
      padding-left: 50px;
      background-color: #cfd1d5;
      color: #fff;
      font-size: 20px;
      border: none;
      margin-bottom: -20px; }
    .connexion--container--inscription {
      color: #31bb8a;
      font-size: 20px;
      text-decoration: none;
      display: block;
      margin-top: 20px; }
    .connexion--container--btn {
      display: block;
      margin-top: 50px;
      font-size: 30px;
      color: #282C34;
      background-color: #31bb8a;
      border-radius: 5px;
      border: none;
      text-transform: uppercase;
      text-decoration: none;
      padding: 5px 30px; }

.choice {
  height: 100%;
  width: 100%;
  position: fixed; }
  .choice--top {
    display: block;
    background-color: #31bb8a;
    color: #282C34;
    height: 50%;
    position: relative;
    width: 100%; }
    .choice--top--title {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      text-align: center;
      transform: translate(-50%, -50%);
      font-size: 30px; }
  .choice--bottom {
    display: block;
    background-color: #282C34;
    color: #31bb8a;
    height: 50%;
    position: relative;
    width: 100%; }
    .choice--bottom--title {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      text-align: center;
      transform: translate(-50%, -50%);
      font-size: 30px; }

.sideBar {
  height: 100%;
  width: 300px;
  background-color: #fff;
  position: absolute;
  z-index: -1;
  transform: translateX(-150px);
  transition-duration: 0.5s; }
  .sideBar-active {
    transform: translateX(0px);
    transition-duration: 0.5s; }
  .sideBar--profil {
    height: 200px;
    background-image: url("../img/profil-bg2.jpg");
    background-size: cover;
    box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.75); }
    .sideBar--profil--img {
      margin-top: 30px;
      margin-left: 30px;
      height: 80px;
      border-radius: 50%;
      box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.75); }
    .sideBar--profil--name {
      color: #fff;
      font-weight: 500;
      margin-top: 10px;
      margin-left: 30px; }
    .sideBar--profil--rating {
      float: left;
      margin-top: 10px;
      margin-left: 30px; }
      .sideBar--profil--rating > span {
        float: right;
        color: #aaa;
        text-decoration: none;
        font-size: 20px;
        transition: color .4s; }
      .sideBar--profil--rating > span:hover,
      .sideBar--profil--rating > span:focus,
      .sideBar--profil--rating > span:hover ~ span,
      .sideBar--profil--rating > span:focus ~ span {
        color: orange;
        cursor: pointer; }
  .sideBar--nav--title {
    color: #31bb8a;
    padding-left: 15px;
    display: inline-block;
    height: 50px;
    line-height: 60px;
    border-bottom: 1px solid #ececec;
    text-transform: uppercase;
    font-size: 12px; }
  .sideBar ul {
    width: 300px; }
    .sideBar ul li {
      width: 300px; }
      .sideBar ul li a {
        display: inline-block;
        color: #282C34;
        font-size: 18px;
        text-decoration: none;
        height: 50px;
        line-height: 50px;
        width: 100%;
        padding-left: 20px;
        font-weight: 100;
        border-bottom: 1px solid #ececec;
        transition-duration: 0.3s; }
        .sideBar ul li a:hover {
          background-color: #31bb8a;
          color: #fff;
          transition-duration: 0.3s; }

.header {
  position: absolute;
  top: 0;
  height: 60px;
  z-index: 10; }
  .header--btn {
    float: left;
    height: 60px;
    width: 70px;
    cursor: pointer; }
    .header--btn--humburger {
      transition-duration: 0.5s;
      width: 30px;
      height: 5px;
      background-color: #31bb8a;
      margin-top: 30px;
      position: relative;
      margin-left: 20px;
      display: inline-block; }
      .header--btn--humburger::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 10px;
        width: 30px;
        height: 5px;
        background-color: #31bb8a; }
      .header--btn--humburger::after {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        width: 30px;
        height: 5px;
        background-color: #31bb8a; }

.home {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translateX(0px);
  transition-duration: 0.5s;
  box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.75); }
  .home-active {
    transform: translateX(300px);
    transition-duration: 0.5s; }
  .home--map {
    height: 50%;
    position: relative;
    transition-duration: 0.5s;
    overflow: hidden; }
    .home--map-activeLoc {
      height: 100%;
      margin-bottom: -110px; }
    .home--map-active {
      height: 100%;
      transition-duration: 0.5s; }
      .home--map-active2 {
        height: 40%;
        transition-duration: 0.5s; }
    .home--map--api {
      height: 200%;
      width: 100%;
      z-index: 0; }
    .home--map--toolbar {
      height: 50px;
      width: 100%;
      background-color: #282C34;
      position: absolute;
      bottom: 0px; }
      .home--map--toolbar-activeLoc {
        display: none; }
      .home--map--toolbar--title {
        display: inline-block;
        color: #31bb8a;
        position: absolute;
        top: 5px;
        left: 10px; }
      .home--map--toolbar--endHour {
        color: #fff;
        position: absolute;
        top: 23px;
        left: 10px;
        font-size: 20px; }
      .home--map--toolbar--control {
        margin-left: 190px;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        color: #fff; }
        .home--map--toolbar--control--more {
          display: inline-block;
          height: 50px;
          cursor: pointer; }
          .home--map--toolbar--control--more::after {
            font-size: 40px;
            content: '\e623';
            font-family: 'stroke7pixeden'; }
        .home--map--toolbar--control--less {
          display: inline-block;
          height: 50px;
          cursor: pointer; }
          .home--map--toolbar--control--less::after {
            font-size: 40px;
            content: '\e644';
            font-family: 'stroke7pixeden'; }
      .home--map--toolbar--hour {
        color: #31bb8a;
        position: relative;
        bottom: 2px;
        font-size: 42px;
        margin-left: 10px; }
        .home--map--toolbar--hour::after {
          content: 'h';
          color: #fff;
          font-size: 20px;
          margin-left: 2px; }
      .home--map--toolbar--search {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: #FAFAFA;
        text-align: center;
        line-height: 65px;
        float: right;
        position: absolute;
        right: 75px;
        margin-right: -60px;
        bottom: 50%;
        margin-bottom: 20px;
        transform: scale(1);
        transition-duration: 0.5s; }
        .home--map--toolbar--search--icon {
          color: #31bb8a;
          font-size: 25px; }
          .home--map--toolbar--search--icon-active {
            display: none; }
        .home--map--toolbar--search-active {
          transition-duration: 0.5s;
          z-index: -1;
          transform: scale(12); }
          .home--map--toolbar--search-active2 {
            right: 50%;
            bottom: 20%; }
          .home--map--toolbar--search-active3 {
            bottom: 0; }
          .home--map--toolbar--search-active4 {
            bottom: 60%; }
  .home--time {
    display: inline-block;
    position: absolute;
    background-color: #31bb8a;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    bottom: 70px;
    right: 30px;
    color: #fff;
    text-align: center;
    line-height: 90px;
    font-size: 30px;
    display: none; }
    .home--time--point {
      position: absolute;
      bottom: 0px;
      right: 49px;
      animation-name: clignote;
      animation-duration: 1s;
      animation-iteration-count: infinite; }
@keyframes clignote {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  .home--search {
    display: none;
    text-align: center;
    padding-top: 40px;
    color: #fff;
    background-color: #fafafa;
    width: 100%;
    height: 100%; }
    .home--search-active {
      display: block; }
    .home--search--title {
      color: #31bb8a;
      font-size: 20px;
      text-transform: uppercase; }
    .home--search--form {
      width: 80%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      color: #282C34;
      margin-top: 40px; }
      .home--search--form .form-group {
        margin-top: 30px; }
      .home--search--form--label {
        margin-right: 5px;
        font-size: 18px; }
      .home--search--form--input {
        font-size: 18px;
        padding: 5px;
        border: none;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
        border-bottom: 1px solid #282C34;
        color: #282C34; }
      .home--search--form--input:focus {
        border-bottom: 1px solid #31bb8a;
        transition-duration: 0.3s; }
      .home--search--form--labelSmall {
        margin-right: 5px;
        font-size: 18px; }
      .home--search--form--inputSmall {
        font-size: 18px;
        padding: 5px;
        border: none;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
        border-bottom: 1px solid #282C34;
        color: #282C34;
        width: 105px; }
      .home--search--form--inputSmall:focus {
        border-bottom: 1px solid #31bb8a;
        transition-duration: 0.3s; }
    .home--search--submit {
      position: absolute;
      bottom: 50px;
      left: 50px;
      font-size: 20px;
      background-color: #31bb8a;
      padding: 15px 40px;
      color: #fff; }
    .home--search--close {
      position: absolute;
      bottom: 50px;
      right: 50px;
      font-size: 20px;
      background-color: #FD5356;
      padding: 15px 40px;
      color: #fff; }
  .home--content {
    position: relative;
    z-index: -2;
    height: 50%;
    overflow-y: scroll;
    background-color: #EEEEEF;
    transition-duration: 0.5s; }
    .home--content-active {
      height: 70%;
      transition-duration: 0.5s; }
    .home--content-activeLoc {
      overflow: hidden;
      height: 110px; }
    .home--content--item {
      overflow: hidden;
      background-color: #fff;
      height: 90px;
      padding: 10px;
      margin: 10px 10px;
      transition-duration: 0.5s; }
      .home--content--item-active {
        transition-duration: 0.5s;
        height: 400px; }
      .home--content--item--img {
        float: left;
        height: 70px;
        width: 110px; }
      .home--content--item--time {
        float: left;
        margin-left: 10%;
        height: 70px;
        position: relative; }
        .home--content--item--time--hour {
          position: relative;
          top: 10px;
          display: block;
          color: #31bb8a;
          font-size: 30px; }
        .home--content--item--time--price {
          display: block;
          color: #bdb7b7;
          position: absolute;
          bottom: 10px;
          font-size: 16px; }
      .home--content--item--travel {
        float: right;
        height: 70px;
        position: relative;
        right: 20px; }
        .home--content--item--travel--duration {
          position: relative;
          top: 5px;
          display: block;
          color: #31bb8a;
          font-size: 60px; }
          .home--content--item--travel--duration span {
            font-size: 20px;
            margin-left: 3px;
            position: relative;
            bottom: 30px; }
        .home--content--item--travel--distance {
          display: block;
          color: #bdb7b7;
          position: absolute;
          bottom: 10px;
          left: 35px;
          font-size: 16px; }
      .home--content--item--adresse {
        margin-top: 90px;
        border-top: 1px solid #31bb8a;
        padding-top: 20px;
        clear: both;
        text-transform: uppercase;
        font-size: 20px; }
        .home--content--item--adresse-active {
          font-size: 19px;
          margin-top: 0;
          padding-top: 0;
          border: none;
          position: relative;
          bottom: 45px;
          text-transform: capitalize;
          left: 130px; }
        .home--content--item--adresse span:nth-child(1) {
          display: block;
          margin-bottom: 5px; }
      .home--content--item--profil {
        border-top: 1px solid #31bb8a;
        margin-top: 20px;
        padding-top: 20px;
        position: relative; }
        .home--content--item--profil--img {
          height: 80px;
          border-radius: 50%; }
        .home--content--item--profil--rating {
          display: inline-block;
          text-align: left;
          margin-left: 20px;
          position: relative;
          bottom: 20px; }
          .home--content--item--profil--rating--name {
            display: inline;
            font-size: 20px; }
          .home--content--item--profil--rating--star {
            margin-top: 10px; }
        .home--content--item--profil--link {
          float: right;
          margin-top: 25px;
          color: #31bb8a;
          text-decoration: none;
          width: 60px; }
      .home--content--item--reservation {
        border-top: 1px solid #31bb8a;
        margin-top: 20px;
        padding-top: 20px; }
        .home--content--item--reservation--price {
          display: inline-block;
          font-size: 25px;
          margin-left: 10px; }
          .home--content--item--reservation--price--num {
            font-size: 40px;
            color: #31bb8a;
            margin-left: 10px; }
        .home--content--item--reservation--btn {
          background-color: #31bb8a;
          text-decoration: none;
          padding: 15px 30px;
          margin-right: 10px;
          text-transform: uppercase;
          float: right;
          color: #fff; }

#current {
  background-color: #31bb8a;
  color: #fff; }
